@font-face {
    font-family: 'lttetria_blackregular';
    src: url('fonts/conduit-webfont.woff2') format('woff2'),
         url('fonts/conduit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {

}

body {
	font-family: lttetria_blackregular;
}