@font-face {
    font-family: 'lttetria_blackregular';
    src: url('fonts/conduit-webfont.woff2') format('woff2'),
         url('fonts/conduit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
  --ZTelcoBlazingBlue: #0B213E;
  --ZTelcoElectricBlue: #04ABD7;
  --ZTelcoRedConnection: #F37C66;
  --ZTelcoDeepGrey: #404040;
  --ZTelcoCoolGrey: #E6E7E8;
}

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	font-family: lttetria_blackregular;
}

div.page-wrap {
	position: relative;
	min-height: 100%;
	display: grid;
	grid-auto-rows: auto;
	grid-template-areas: 
	"top-header"
	"address-area"
	"main-content"
	"footer-area";
}

header.top-header {
	grid-area: top-header;
	border: 1px solid #000;
}

address.address-section {
	grid-area: address-area;
	background: #09f9f9;
	border: 1px solid #000;
}

main.main-content {
	grid-area: main-content;
	display: grid;
	grid-auto-columns: 1fr 1fr;
	grid-auto-rows: auto;
	background: #a9a9a9;
}

main.main-content div.product-table {
	grid-area: 1 / 1 / 2 / 3;
	background: #595959;
	border: 1px solid #000;
}

main.main-content div.services-area {
	grid-area: 2 / 1 / 3 / 2;
	background: #09f9f9;
	border: 1px solid #000;
}

main.main-content div.add-ons-area {
	grid-area: 2/ 2 / 3 / 3;
	background: #f9f9f9;
	border: 1px solid #000;
}

footer.page-footer {
	grid-area: footer-area;
	background: #dedede;
	border: 1px solid #000;
}